//Variables
$darkgrey: #19171C;
$grey: #706A7C;
$lightgrey: #DAD8DB;
$twitchpurple: #6441A4;
$twitchpurple-hover: #7d5bbe;
$margin: 15px;

//Styling
html {
  width: 800px;
  height: 600px;
  font-family: sans-serif;
  background-color: #f5f8fa;
}

body {
  width: 800px;
  height: 600px;
  margin: 0px;
  background-color: #f5f8fa;
}

button {
  -webkit-appearance: none;
  border: 1px;
  line-height: 20px;
  width: 80px;
}

.stream-container {
  height: calc(100% - 84px);
  color: $grey;
  font-size: 14px;
  padding: 0px;
  width: 100%;
  padding-top: $margin;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

//Channel Element
.channel-element {
  height: 50px;
  margin-bottom: $margin;
  margin-left: $margin;
}

.stream-link {
  text-decoration: none;
}

.streamer-avatar {
  float: left;
  height: 50px;
  width: 50px;
  margin-right: $margin;
  img {
    height: 100%;
    width: auto;
  }
}

.streamer-info {
  line-height: 25px;
  height: 30px;
  width: 100%;
  .streamer-name {
    float: left;
    font-size: 16px;
    color: $darkgrey;
    margin-right: $margin;
  }
  .streamer-game {
    a {
      color: $twitchpurple;
    }
    &:hover {
      color: $darkgrey;
      text-decoration: none;
    }
  }
}

.streamer-title {
  line-height: 18px;
  height: 25px;
  font-size: 14px;
  color: $darkgrey;
}

//Add Stream Form
.add-channel-form {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.input-group {
  display: flex;
  width: calc(100% - 30px);
  margin-bottom: 15px;
}

.form-control {
  height: 30px;
  line-height: 30px;
  width: 80%;
  font-size: 14px;
  &:focus {
    outline: $twitchpurple-hover auto 2px;
  }
}

.btn {
  padding: 0px;
  width: 20%;
  background-color: $twitchpurple;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  &:hover {
    background-color: $twitchpurple-hover;
  }
}


// Empty state

.stream-container--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}