//Variables
$darkgrey: #19171C;
$grey: #706A7C;
$lightgrey: #DAD8DB;
$twitchpurple: #6441A4;
$twitchpurple-hover: #7d5bbe;
$margin: 15px;

//Styling
html {
  width: 800px;
  height: 600px;
  font-family: sans-serif;
  background-color: #f5f8fa;
}

body {
  width: 800px;
  height: 600px;
  margin: 0px;
  background-color: #f5f8fa;
}

input[type="submit"] {
  -webkit-appearance: none;
  border: 1px solid $twitchpurple;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: $darkgrey;
}
a:visited {
  color: $darkgrey;
}
a:hover {
  color: $twitchpurple;
  text-decoration: none;
}

.stream-container {
  height: calc(100% - 84px);
  color: $grey;
  font-size: 14px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


//Channel Element
.channel-element {
  height: 50px;
  padding: $margin;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}
.channel-element:hover {
  background-color: #f9f9f9;
}
.channel-element:hover .deleteBtn {
  opacity: 1;
}

.stream-link {
  text-decoration: none;
}

.streamer-avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 50px;
  width: 50px;
  img {
    height: 100%;
    width: auto;
  }
}

.streamer-info {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1;
  .streamer-name {
    font-size: 16px;
    color: $darkgrey;
    margin-right: $margin;
  }
}

.streamer-title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 14px;
  color: $darkgrey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.deleteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.deleteBtn {
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease;
}

//Add Stream Form
.add-channel-form {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
}

.input-group {
  display: flex;
  width: calc(100% - 30px);
  margin-bottom: 15px;
}

.form-control {
  height: 30px;
  line-height: 30px;
  width: 80%;
  font-size: 14px;
  &:focus {
    outline: $twitchpurple-hover auto 2px;
  }
}

.btn {
  padding: 0px;
  width: 20%;
  background-color: $twitchpurple;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  &:hover {
    background-color: $twitchpurple-hover;
  }
}


// Empty state

.stream-container--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  text-align: center;
}
.credits {
  font-size: 12px;
}

a.state-link {
  color: $twitchpurple;
  text-decoration: none;

  &:hover {
    color: $twitchpurple-hover;
  }
  &:visited {
    color: $twitchpurple;
  }
}